.forma-geometrica{
    height: 50vh;
    width: 50vh;
    background-color: #26658C;
    padding: 30px 5%;
    border-radius: 30% 70% 37% 63% / 43% 70% 30% 57% ;
    transition: all 1s ease 0s;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

#fotoPedro{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.forma-geometrica:hover {
    border-radius: 54% 46% 68% 32% / 63% 30% 70% 37% ;
}

/* Smartphones*/
@media screen and (max-width:600px){
    .forma-geometrica{
        width: 35vh;
        height: 35vh;
    }
}

/*Tablets*/
@media screen and (max-width: 1000px){
    .forma-geometrica{
        width: 45vh;
        height: 45vh;
    }
}